$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyBgColor: #659a01;
$bodyColor: white;
$contentBgColor: #666701;
$header1Color: #fccc0d;
$header2Color: #ffce11;
$briefWidth: 100%;
$briefBgColor: #677d01;
$briefMargin: 4px 0px 20px 0;
$imgBorderColor: #e1e1cd;
$imgPadding: 8px;
$tableHeaderBgColor: #94a34e;
$tableBgColor: #677d01;
$aColor: $header1Color;