$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyBgColor: #ddbc9b;
$header1Color: #812d00;
$header2Color: #8c3d05;
$header2FontStyle: italic;
$briefDisplay: inline-block;
$briefWidth: 30%;
$briefBgColor: #fadcba;
$briefMargin: 4px 10px 7px 0;
$briefFloat: left;
$imgBorderColor: #863500;
$imgPadding: 2px;
$tableHeaderBgColor: #DAD8D8;
$tableHeaderBorder: 1px solid white